<!-- <div *ngIf="noInternetConnection" style="text-align: center;">
    <h1>THERE IS NO INTERNET CONNECTION</h1>
    <img width="111px" src="assets/images/no.wifi_.png" alt="Wifi Connecred" />
</div>
<div *ngIf="!noInternetConnection" style="text-align: center;">
    <h1>INTERNET CONNECTION IS THERE</h1>
    <img width="111px" src="assets/images/wifi.png" alt="Wifi Disconnected" />
</div> -->
<!-- <app-price-list></app-price-list> -->
<!-- <app-global-search></app-global-search> -->
<!-- <app-google-maps></app-google-maps> -->
<app-infinite-scroller></app-infinite-scroller>
<!-- <app-ngx-datatable></app-ngx-datatable> -->
